* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: #20243d;
	font-family: 'Roboto', sans-serif;
}

.display_page {
	background: #515a7b;
	color: #f1f1f1;
    float:left; 
    max-width: 69%; 
    min-width: 69%; 
    margin-left:2%; 
    margin-top:1.6% ; 
    border-radius: 0.4em; 
    box-sizing: border-box;

    box-shadow: 0px 0px 5px black;
}

.display_page .heading {
	display: block;
	line-height: 50px;
	color: white;
	text-decoration: none;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	background: #11a9ac;
}

.display_page .settings-heading {
	background: #33b5e6;
}

.content {
	max-width: 90%;
	min-width: 90%;
	margin-top: 5%;
	padding: 0px;
}

.header {
	height: 70px;
	border-radius: 0.3em;
	background: #515a7b;
	text-align: center;
	color: white;
	margin:0.5%;
	clear: both;
	box-shadow: 0px 0px 5px black;

}

.navigation {
	text-align: center;
	max-width: 50%;
	min-width: 50%;
	float: left;
}

.user {
	text-align: right;
	line-height: 70px;
	display: block;
	min-width: 50%;
	min-width: 50%;
	color: #f1f1f1;
	float: left;
	padding-right: 3%;
}

.nav {
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
	max-width: 23%;
	min-width: 23%;
}

.nav a{
	display: block;
	line-height: 60px;
	color: white;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 5px #515a7b solid;
	border-top: 5px #515a7b solid;
}

.nav a:hover{
	/* text-decoration: underline; */
	border-bottom: 5px #11a9ac solid;
}

.card_container {
	float:left;
	max-width: 23%;
	min-width: 23%;
	margin: 0.5%;
	box-sizing: border-box;
}

.page_card {
	max-width: 100%;
	min-width: 100%;
	float: top;
	background: #515a7b;
	border-radius: 0.4em;
	margin:5%;
	box-shadow: 0px 0px 7px black;
	box-sizing: border-box;
}

.page_card a{
	display: block;
	line-height: 50px;
	color: white;
	text-decoration: none;
}

.page_card a:hover{
	background: #606B93;
	/* border-left: 1px #11a9ac solid; */
	
	/*
	border-bottom: 1px #11a9ac solid;
	border-top: 1px #11a9ac solid;
	*/
}