body {
    teal : #11a9ac;                 //  MENU
    magenta :  #cc344d;             //  Export
    light-magenta :  #e54d66;       //  Below Export
    yellowish orange :  #fbb152;

    background: #606B93;
    float: top;
    background: #515a7b;
    margin:0%;

    sublime-blue :  #24b4cf;
    sublime-pink :  #fe2665;
    sublime-purple :  #9a7eef;
    sublime-green :  #95dd31;


    w3schools textbox greenish :  #3CBC8D;
}